.box__groups
  -# グループの名前
  .box__groups__name
    .box__groups__name__name-box
      .box__groups__name__name-box__group-name
        Colod
      .box__groups__name__name-box__icon-box
        .box__groups__name__name-box__icon-box__group-icon
          = fa_icon 'edit'
        .box__groups__name__name-box__icon-box__image-icon
          = fa_icon 'image'
    -# グループの一覧
  .box__groups__group
    .box__groups__group__group-box
      .box__groups__group__group-box__small-box
        .box__groups__group__group-box__small-box__group-name
          帰りたい
        .box__groups__group__group-box__small-box__group-text
          aaaaaaaaaaaa
    -# カレントユーザー
  .box__groups__myname
    .box__groups__myname__myname-box
      .box__groups__myname__myname-box__name
        GX
      .box__groups__myname__myname-box__icon-box
        .box__groups__myname__myname-box__icon-box__setting-icon
          = fa_icon 'image'
        .box__groups__myname__myname-box__icon-box__image-icon
          = fa_icon 'cog'
