.box__messages
  .box__messages__message
    .box__messages__message__message-box
      .box__messages__message__message-box__small-box
        .box__messages__message__message-box__small-box__info
          .box__messages__message__message-box__small-box__info__name
            gxgx
          .box__messages__message__message-box__small-box__info__date
            114514
        .box__messages__message__message-box__small-box__text
          aaaaaaaaaaaaaaaaa


    .box__messages__message__edit-btn
      Edit
  .box__messages__form
    .box__messages__form__form-box
      .box__messages__form__form-box__form-small
        メッセージを送信
      .box__messages__form__form-box__icon-box
        .box__messages__form__form-box__icon-box__icon
          = fa_icon 'image'
      .box__messages__form__form-box__send-box
        SEND