.box__members
    .box__members__member
        .box__members__member__member-box
            .box__members__member__member-box__main
                メンバー
    .box__members__list
        .box__members__list__list-box
            .box__members__list__list-box__member-box
                .box__members__list__list-box__member-box__name
                    最強