*{
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100%;
  width: 100%;
  position: fixed;
}

.box{
  margin: 0;
  padding: 0;

  // グループ一覧
  &__groups{
      height: 800px;
      width: 300px;
      float: left;

      // #グループ名前
      &__name{
        background-color: palevioletred;
        width: 300px;
        height: 100px;
        border: solid 3.5px black;
        padding: 0.5em 1.0em 0em 1.0em;
        &__name-box{
          background-color: purple;
          height: 75px;
          border-radius: 20px;
          padding: 20px 10px;
          justify-content: space-between;
          position: relative;
          border: solid 3px white;
          display: flex;
          &__group-name{
            background-color: pink;
            border: solid 3px white;
            height: 30px;
            width: 175px;
            border-radius: 5px;
            color: black;
            padding: 3px 5px;
            font-family: "Nico Moji";
            font-family: 'Arial Black';
          }
          &__icon-box{
            background-color: #ffffff;
            width: 54px;
            position: relative;
            &__group-icon{
              background-color: black;
              color: red;
              height: 28px;
              width: 27px;
              border-radius: 5px;
              padding: 2px 6px;
              position: absolute;
              border: solid 1px white;
              margin-left: 1px;
            }
            &__image-icon{
              background-color: black;
              color: red;
              height: 28px;
              width: 27px;
              border-radius: 5px;
              padding: 1.5px 4px;
              position: absolute;
              border: solid 1px white;
              margin-left: 27px;
            }
          }
        }
      }
      // グループ名前
      &__group{
        background-color: palevioletred;
        height: calc(100vh - 200px);
        padding: 10px 10px 10px 10px;
        overflow: scroll;
        border: solid 3.5px black;
        &__group-box{
          background-color: purple;
          height: 568px;
          padding: 10px 25px 10px 25px;
          border: solid 3px white;
          border-radius: 10px;
          &__small-box{
            background-color: white;
            height: 50px;
            margin-bottom: 40px;
            border-radius: 4px;
            border: solid 3px pink;
            padding-left: 5px;
            &__group-name{
              font-size: 19px;
              margin-bottom: 5px;
              font-family: 'American Typewriter';
              font-family: 'Wawati SC'
            }
            &__group-text{
              font-size: 11px;
              font-family: 'American Typewriter';
            }
          }
        }
      }
      // カレントユーザー
      &__myname{
        background-color: palevioletred;
        height: 110px;
        padding: 5px 10px 10px 10px;
        border: solid 5px black;
        &__myname-box{
          background-color: purple;
          border-radius: 20px;
          height: 91px;
          padding: 33px 10px;
          justify-content: space-between;
          display: flex;
          border: solid 3px white;

          &__name{
            background-color: pink;
            height: 30px;
            width: 175px;
            border-radius: 3px;
            border: solid 3px white;
            font-family: "Nico Moji";
            font-family: 'Arial Black';

          }
          &__icon-box{
            background-color: #ffffff;
            height: 30px;
            width: 60px;
            position: relative;
            &__setting-icon{
              background-color: black;
              color: red;
              height: 30px;
              width: 30px;
              border-radius: 5px;
              padding: 2px 6px;
              position: absolute;
              border: solid 1px white;
            }
            &__image-icon{
              background-color: black;
              color: red;
              height: 30px;
              width: 30px;
              padding: 2px 7px;
              margin-left: 30px;
              position: absolute;
              border-radius: 5px;
              border: solid 1px white;
            }
          }
        }
      }
  }

  // メッセージ
  &__messages{
    float: left;
    width: calc(100vw - 600px);
    height: 800px;

    // メッセージメイン
    &__message{
      background-color: palevioletred;
      height: calc(100vh - 100px);
      width: 100%;
      border: solid 5px rgb(0, 0, 0);
      padding: 0.5em 1em 0.5em 1em;
      &__message-box{
        background-color: purple;
        border: solid 3px white;
        height: 640px;
        padding: 20px 25px;
        overflow: scroll;
        &__small-box{
          padding-bottom: 40px;
          background-color: white;
          border: solid 5px pink;
          &__info{
            display: flex;
            margin-bottom: 10px;
            &__name{
              color: black;
              font-size: 15px;
              font-weight: bold;
              font-family: "Wawati SC";
            }
            &__date{
              color: black;
              font-size: 15px;
              margin-left: 10px;
              font-family: "Wawati SC";
            }
          }
          &__text{
            color: red;
            font-size: 14px;
            margin-bottom: 10px;
            font-family: "Wawati SC";
          }
        }
      }
      &__edit-btn{
        background-color: purple;
        height: 30px;
        padding: 1px 175px;
        color: skyblue;
        font-family: 'Arial Black';
        border: solid 3px white;
        // width: 100px;
      }
    }
    // フォーム
    &__form{
      background-color: palevioletred;
      height: 100px;
      padding: 10px 10px 10px 10px;
      &__form-box{
        background-color: brown;
        border: solid 3px white;
        height: 665px;
        padding: 10px 10px;
        padding-top: 25px;
        display: flex;
        &__form-small{
          background-color: white;
          height: 50px;
          width: 700px;
          color: black;
          border: solid 3px black;
          position: relative;
          justify-content: space-between;
        }
        &__icon-box{
          background-color: black;
          height: 50px;
          width: 45px;
          position: absolute;
          // margin-left: 650px;
          // top: 10px;
          right: 425px;
          padding: 5px 10px 2px 3px;
          &__icon{
            background-color: pink;
            height: 40px;
            width: 40px;
            padding: 7px 2px 10px 12px;
          }
        }
        &__send-box{
          background-color: purple;
          height: 50px;
          width: 100px;
          color: white;
          padding: 10px 25px;
          border: solid 3px black;
          font-family: 'Arial Black';
        }
      }
    }
  }

  // メンバーサイドバー
  &__members{
    width: 300px;
    height: 800px;
    float: right;

    // メンバーリスト
    &__member{
      &__member-box{
        background-color: palevioletred;
        border: solid 4px black;
        height: 90px;
        padding-top: 20px;
        &__main{
          background-color: purple;
          border: solid 4px white;
          border-radius: 5px;
          margin-left: 10px;
          margin-right: 10px;
          width: 280px;
          height: 50px;
          font-size: 20px;
          font-family: 'Arial Black';
          color: white;
          border-radius: 5px;
          padding: 5px 5px;
          // text-shadow: 7px 4px 7px white;
          color: pink;
        }

      }
    }

    // メンバーリスト下
    &__list{
      background-color: palevioletred;
      border: solid 4px black;
      height: calc(100vh - 50px);
      padding: 10px 5px 15px 5px;
      &__list-box{
        background-color: purple;
        border: solid 4px white;
        border-radius: 2px;
        height: 685px;
        padding: 5px 7.5px 5px 7.5px;
        overflow: scroll;
        &__member-box{
          background-color: #ffffff;
          border: solid 4px pink;
          border-radius: 2px;
          height: 45px;
          width: 260px;
          padding-left: 5px;
          &__name{
            font-size: 30px;
            margin-bottom: 5px;
            font-family: 'Arial Black';
            font-family: 'Wawati SC'
          }
        }
      }
    }
  }
}